feh_*_filelist
.pdb
.obj
\#*#
*~
*.swp
.#*
nohup.out
dont-backup
*.orig
*.hi
*.o
*.toc
*.out
*.log
*.blg
*.bbl
*.aux
*.bcf
*.nav
*.snm
*-blx.bib
*.synctex.gz
*.run.xml
*.fmt
*.loe
*.prv
.cabal-sandbox
cabal.sandbox.config
dist
distcore.*
core.*